body {
    margin: 0;
}

.title {
    padding: 0 60px;
    font-size: 24px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
}

.load-bar {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto 30px;    
    height: 30px;
    align-items: center;
    justify-content: center;    
}

.load-bar input {
    width: 900px;
    height: 30px;
}

.load-bar button {
    margin-left: 15px;
    height: 30px;
}

.container {
    position: relative;
    display: none;
    margin: 0 auto;
    width: 1280px;
    height: 720px;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 240px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.progress-container {
    position: relative;
    margin-top: 150px;
    height: 30px;
}

#progress {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 1080px;
    height: 9px;
    cursor: pointer;
}

.timestamp {
    position: absolute;
    top: 0;    
    right: 30px;    
    width: 140px;
    font-size: 18px;
    line-height: 30px;    
    text-align: right;
    color: white;
}

.button-group {
    position: relative;    
    margin-top: 15px;
    height: 30px;
    display: flex;      
    flex-wrap: wrap;
}

.icon-button {
    margin-left: 30px;    
    border: none;        
    display: flex;
    align-items: center;
    justify-content: center;    
    cursor: pointer;
}

#playPauseBtn {
    width: 30px;
}

.icon-button svg {
    width: 24px;
    height: 24px;
    fill: white;
}

#volumeSlider {
    cursor: pointer;
}

select {
    margin-left: 30px;

}

